<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <title>{$seo_title}</title>
    <script type="text/javascript" src="{TPL}/static//js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{TPL}/static//js/js.js"></script>
	<link href="{TPL}/static//plugin/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
	<link href="{TPL}/static//css/dgy.base.min.css" rel="stylesheet" type="text/css" />
	<link href="{TPL}/static//css/dgy.head.min.css" rel="stylesheet" type="text/css" />
	<link href="{TPL}/static//css/dgy.web.3.0.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="{TPL}/static//js/baseMotheds.js"></script>
  </head>
  <body>
	{m:include "index","header"}
	
    <!-- fullTabs 热门标签 -->
    <div class="fullTabs index">
       <div class="menuBox">
			{m:tag field="id,tag,total" limit="8"}
			{loop $data $v}
               <span><a href="{U('search/index/tag',array('id'=>$v['id']))}" target="_blank">{$v[tag]}</a></span>
			{/loop}
       </div>
    </div>
	     
	<!-- itemGrid for hot -->
	<div class="baseGroup w1240 mb20 mt70">
	    <div class="itemGroup">
			<div class="itemBox mb20" style="padding:0">
				<div class="adGrid homeMid" style="margin:0; height:100px"><a href="http://www.hkingcms.com?form=duoguyu.com" target="_blank" title="©源自优秀的轻量级开源管理系统hkingcms"><img src="http://www.duoguyu.com/uploads/201803/21/180321100556732.jpg"></a></div>
			</div>
        	
    	    <div class="itemGroup">
    	        <!-- leftGrid -->
    	        <div class="leftGrid w920">
                    <!-- itemBox 列表内容 -->
                    <div class="itemBox mb20" style="padding:0;">
        	            <div class="headGrid" style="padding:10px 22px 0;">
        	                <h3 style="border-bottom:0;">“<b>{$q}</b>”<span class="ml5">找到{$total}个结果</span></h3>
        	            </div>
        	            <!-- listMoreGroup -->
        	            <div class="listMoreGroup">
        	                <div class="itemGrid">
                	            <ul>
        				            {loop $search_data $v}
                					{php $v['title'] = preg_replace("/$q/i", "<span style='color:red;'>$q</span>", $v['title']);}
                					{php $v['description'] = preg_replace("/$q/i", "<span style='color:red;'>$q</span>", $v['description']);}
                	                <li>
                	                    <div class="article_box">
                    	                    <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                    	                        <div class="tophead h125 hoverImg">
                    	                            <img class="lazy" width="294" height="160" src="{$v['thumb']}">
                    	                        </div>
                    	                        <article class="h150">
                    	                            <h3>{str_cut($v['title'], 60)}</h3>
                    	                            <p class="description cf999">{str_cut($v['description'], 180)}</p>
                    	                            <p class="mt15"><span class="cf_green f12">阅读全文 ></span></p>
                    	                        </article>
                    	                    </a>
                	                    </div>
                	                </li>
                                    {/loop}
                                    <div class="clearfix"></div>
                			     </ul>
                			     <div class="line"></div>
            			     </div>
            	        </div>
        	            <!-- / listMoreGroup -->
                    </div>
                    <div id="pageGroup">{$pages}</div>
                    <!-- / itemBox 列表内容 -->
    	        </div>
    	        <!-- rightGrid -->
    	        <div class="rightGrid">
    	            <!-- 相关推荐 -->
    	            <div class="itemBox mb20">
        	            <div class="headGrid">
        	                <h3><b>热门</b></h3>
        	            </div>
        	            <div class="tabInfoBox detail">
                            {m:hits field="title,thumb,inputtime,nickname,url,description,catid" modelid="$modelid" limit="5"}
                            {loop $data $v}
                            <div class="aside">
                                <a href="{$v[url]}" title="{$v[title]}" target="_blank">
    	                            <h3>{$v['title']}</h3>
	                                <div class="desc mb15">{str_cut($v['description'], 110)}</div>
                                </a>
                            </div>
                            {/loop}
        	            </div>
        	            <!-- adGrid 广告位 -->
        	            <div class="adGrid">
							{adver(1)}
        	            </div>
        	            <!-- / adGrid 广告位 -->
    	            </div>
    	            <!-- / 相关推荐 -->
    	        </div>
    	    </div>
        	
            
        </div>
    </div>
		  	
{m:include "index","footer"}