<div class="foot">
  <div class="ft-menu">
    <div class="container">
      <div class="links">
        <h1>友情链接</h1>
        <div class="list">
          <a href="#" target="_blank">友情链接</a>
        </div>
      </div>
      <div class="ewm">
        <div class="list">
<!--          <img src="{TPL}/index/images/ewm-gzh.png" />-->
<!--          <p>微信公众号</p>-->
        </div>
        <div class="list">
<!--          <img src="{TPL}/index/images/ewm-wb.png" />-->
<!--          <p>新浪微博</p>-->
        </div>
      </div>
      <div class="fttel">
        <h1>12345</h1>
        <p>服务时间：周一至周日07:00-21:00</p>
        <p>非工作时间请使用：</p>
        <p>话音留言：12345</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="cop">
    <div class="container"></div>
  </div>
</div>