<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$site[site_name]}</title>
    <link href="{TPL}/index/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="{TPL}/index/css/main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{TPL}/index/js/jquery-1.8.3.min.js"></script>
    <link href="{TPL}/index/css/jquery.slideBox.css" rel="stylesheet" type="text/css"/>
    <script src="{TPL}/index/js/jquery.slideBox.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{TPL}/index/js/nav.js"></script>
    <script>
        jQuery(function ($) {
            $('#newspic').slideBox({
                duration: 0.3,//滚动持续时间，单位：秒
                easing: 'linear',//swing,linear//滚动特效
                delay: 5,//滚动延迟时间，单位：秒
                hideClickBar: false,//不自动隐藏点选按键
                clickBarRadius: 10
            });
        });
    </script>
</head>
<body>
{m:include "index","header"}
<div class="zxgg">
    <div class="BreakingNewsController easing" id="breakingnews2">
        <div class="bn-title"></div>
        <ul id="abc">
            <li><a href="#">最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告</a></li>
            <li><a href="#">最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告</a></li>
            <li><a href="#">最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告最新公告</a></li>

        </ul>
        <div class="bn-arrows"><span class="bn-arrows-left"></span><span class="bn-arrows-right"></span></div>
    </div>
</div>
<div class="container container_col">
    <div class="news-notice">
        <div class="indnews">
            <div class="news-pic">
                <div id="newspic" class="slideBox">
                    <ul class="items">
                        <li><a href="#" title="本会召开第一届第一次主任会议和委员会议1"><img src="{TPL}/index/upload/newsimg.jpg"></a></li>
                        <li><a href="#" title="本会召开第一届第一次主任会议和委员会议2"><img src="{TPL}/index/upload/newsimg.jpg"></a></li>
                        <li><a href="#" title="本会召开第一届第一次主任会议和委员会议3"><img src="{TPL}/index/upload/newsimg.jpg"></a></li>
                        <li><a href="#" title="本会召开第一届第一次主任会议和委员会议4"><img src="{TPL}/index/upload/newsimg.jpg"></a></li>
                        <li><a href="#" title="本会召开第一届第一次主任会议和委员会议5"><img src="{TPL}/index/upload/newsimg.jpg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="news-txt" id="news">
            <div class="news-title">
                <div class="news-name tab-nav j-tab-nav">
                    <a href="javascript:void(0);" class="current">新闻动态<i></i></a>
                    <a href="javascript:void(0);" class="">通知公告<i></i></a>
                </div>
                <a href="#" class="more">更多 >></a>
            </div>
            <div class="tab-con">
                <div class="j-tab-con">
                    <div class="tab-con-item news-con" style="display: block;">
                        <div class="hotnews">
                            <h1>1本会召开第一届第一次主任会议和委员会议</h1>

                            <div class="hotcon"><a href="#">2017年2月20日，中卫仲裁委员会召开了中卫仲裁委员会第一届第一次主任会议和第一届第一次委员会议。会议由中卫市委常委、副市长、中卫仲裁委员会主任袁诗鸣主持。副主任李斌、郝正智、姜丽丽，委员盛建宁、张学文、俞正荣、李宝庆、王占强等出席了会议...</a>
                            </div>
                        </div>
                        <ul class="newslist">
                            <li><a href="#">本会开展加强仲裁工作推进会议</a><span>09-10</span></li>
                            <li><a href="#">本会召开第一届仲裁员聘任会议</a><span>09-10</span></li>
                            <li><a href="#">本会与市中级人民法院就建立仲裁与诉讼衔接机制召开座谈会</a><span>09-10</span></li>
                            <li><a href="#">宁夏仲裁工作座谈会在我市召开</a><span>09-10</span></li>
                            <li><a href="#">“一带一路”仲裁发展交流会在我市召开</a><span>09-10</span></li>
                        </ul>
                    </div>
                    <div class="tab-con-item news-con" style="display: none;">
                        <div class="hotnews">
                            <h1>2本会召开第一届第一次主任会议和委员会议</h1>

                            <div class="hotcon"><a href="#">2017年2月20日，中卫仲裁委员会召开了中卫仲裁委员会第一届第一次主任会议和第一届第一次委员会议。会议由中卫市委常委、副市长、中卫仲裁委员会主任袁诗鸣主持。副主任李斌、郝正智、姜丽丽，委员盛建宁、张学文、俞正荣、李宝庆、王占强等出席了会议...</a>
                            </div>
                        </div>
                        <ul class="newslist">
                            <li><a href="#">本会开展加强仲裁工作推进会议</a><span>09-10</span></li>
                            <li><a href="#">本会召开第一届仲裁员聘任会议</a><span>09-10</span></li>
                            <li><a href="#">本会与市中级人民法院就建立仲裁与诉讼衔接机制召开座谈会</a><span>09-10</span></li>
                            <li><a href="#">宁夏仲裁工作座谈会在我市召开</a><span>09-10</span></li>
                            <li><a href="#">"一带一路"仲裁发展交流会在我市召开</a><span>09-10</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="fwzn">
        <div class="tit"></div>
        <div class="iconlist">
            <a href="#" class="icon1">
                <div class="pic"><img src="{TPL}/index/images/xx1.jpg"/></div>
                <p>环境信息</p></a>
            <a href="#" class="icon2">
                <div class="pic"><img src="{TPL}/index/images/xx2.jpg"/></div>
                <p>医保信息</p></a>
            <a href="#" class="icon3">
                <div class="pic"><img src="{TPL}/index/images/xx3.jpg"/></div>
                <p>公积金信息</p></a>
            <a href="#" class="icon4">
                <div class="pic"><img src="{TPL}/index/images/xx4.jpg"/></div>
                <p>健康管理</p></a>
            <a href="#" class="icon5">
                <div class="pic"><img src="{TPL}/index/images/xx5.jpg"/></div>
                <p>车辆违章</p></a>
            <a href="#" class="icon6">
                <div class="pic"><img src="{TPL}/index/images/xx6.jpg"/></div>
                <p>法律援助</p></a>
            <a href="#" class="icon7">
                <div class="pic"><img src="{TPL}/index/images/xx7.jpg"/></div>
                <p>志愿者</p></a>
            <a href="#" class="icon8">
                <div class="pic"><img src="{TPL}/index/images/xx8.jpg"/></div>
                <p>预约挂号</p></a>
            <a href="#" class="icon9">
                <div class="pic"><img src="{TPL}/index/images/xx9.jpg"/></div>
                <p>食品追溯</p></a>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-box">
        <div class="col-left">
            <div class="col-list">
                <div class="col-title">
                    <span>社区简介</span><a href="#">更多 >></a>
                </div>
                <div class="col-con"><img src="{TPL}/index/images/abt.jpg" class="abt"/>智慧社区成立于2012年8月6日，辖区范围：东起唐徕渠西侧，西至正源南街，北邻长城中路，南北邻长城中路，南北邻长城中路，南4个小区，本社区属于近年来开发建设的新型小区，主要以高层住宅建筑为主，设施完善...4个小区，本社区属于近年来开发建设的新型小区，主要以高层住宅建筑为主，设施完善...4个小区，本社区属于近年来开发建设的新型小区，主要以高层住宅建筑为主，设施完善...
                </div>
            </div>
            <div class="col-list">
                <div class="col-title">
                    <span>社区办事</span><a href="#">更多 >></a>
                </div>
                <div class="col-con">
                    <ul class="sqbs">
                        <li><a href="#"><img src="{TPL}/index/images/bs1.png">

                            <p>党政综合</p></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/bs2.png">

                            <p>民族救助</p></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/bs3.png">

                            <p>教育</p></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/bs4.png">

                            <p>住房保障</p></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/bs5.png">

                            <p>计生</p></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/bs6.png">

                            <p>劳动就业</p></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-list">
                <div class="col-title">
                    <span>民情民意</span>
                </div>
                <div class="col-con">
                    <ul class="mqmy">
                        <li><a href="#"><img src="{TPL}/index/images/fw1.png"></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/fw2.png"></a></li>
                        <li><a href="#"><img src="{TPL}/index/images/fw3.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="col-list">
                <div class="col-title">
                    <span>便民服务</span><a href="#">更多 >></a>
                </div>
                <div class="col-con">
                    <ul class="bmfw">
                        <li>
                            <a href="#" class="pic"><img src="{TPL}/index/images/jz.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-pl.png"/></i>5人评论</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic"><img src="{TPL}/index/images/jz.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-pl.png"/></i>5人评论</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic"><img src="{TPL}/index/images/jz.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-pl.png"/></i>5人评论</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic"><img src="{TPL}/index/images/jz.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-pl.png"/></i>5人评论</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic"><img src="{TPL}/index/images/jz.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-pl.png"/></i>5人评论</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic"><img src="{TPL}/index/images/jz.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-pl.png"/></i>5人评论</div>
                            </div>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-list">
                <div class="col-title">
                    <span>便民服务</span><a href="#">更多 >></a>
                </div>
                <div class="col-con">
                    <ul class="bmfw">
                        <li>
                            <a href="#" class="pic rad"><img src="{TPL}/index/images/tx.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>马林</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>工作电话：
                                    \
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-zz.png"/></i> 地址
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic rad"><img src="{TPL}/index/images/tx.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>马林</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>工作电话：
                                    \
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-zz.png"/></i> 地址
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic rad"><img src="{TPL}/index/images/tx.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>马林</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>工作电话：
                                    \
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-zz.png"/></i> 地址
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic rad"><img src="{TPL}/index/images/tx.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>福星苑西门免费Wifi热点</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>12345
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-dz.png"/></i> 地址
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic rad"><img src="{TPL}/index/images/tx.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>马林</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>工作电话：
                                    \
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-zz.png"/></i> 地址
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="pic rad"><img src="{TPL}/index/images/tx.png"></a>

                            <div class="info">
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-xm.png"/></i>马林</div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-tel.png"/></i>工作电话：
                                    \
                                </div>
                                <div class="list"><i class="icon"><img src="{TPL}/index/images/list-zz.png"/></i> 地址
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{m:include "index","footer"}
<!--轮播-->
<script type="text/javascript" src="{TPL}/index/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });
    });
</script>
<!--新闻文字切换-->
<script src="{TPL}/index/js/Tabs.js"></script>
<script type="text/javascript">
    $(function () {
        $("#link").rTabs({
            bind: 'hover',
            animation: 'fadein',
            auto: false
        });
    })
</script>
<!--新闻图片切换-->
<script type="text/javascript">
    $(function () {
        $("#news").rTabs({
            bind: 'hover',
            animation: 'fadein',
            auto: false
        });
    })
</script>

<!--城市选择-->
<script src="{TPL}/index/js/Popt.js"></script>
<script src="{TPL}/index/js/cityJson.js"></script>
<script src="{TPL}/index/js/citySet.js"></script>
<script type="text/javascript">
    $("#city").click(function (e) {
        SelCity(this, e);
        console.log("inout", $(this).val(), new Date())
    });
</script>
<!--滚动通知-->
<script type="text/javascript" src="{TPL}/index/js/BreakingNews.js"></script>
<script type="text/javascript">
    $(function () {
        $('#breakingnews2').BreakingNews({
            title: '最新公告',
            timer: 3000,
            effect: 'slide'
        });
    });
</script>
</body>
</html>
